.boton-contenedor {
    outline: 2px solid white;
    background-color: black;
    color: white;
    padding: 20px;
    border-style: none;
    border-radius: 15px;
    margin: 8px;
    cursor: pointer;
    font-size: 2rem;
    font-weight: 700;
    user-select: none;
    transition: .3s;
}

.operador {
    background-color: #FF8FB1;
}

.boton-contenedor:hover {
    background-color: #8D9EFF;
    transform: scale(1.1);
}